.mainbgf{
    background-image: url(../Images/Homepage\ Slider-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.button_Wallet {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }